<div class="phq9-form">
    <h1>PHQ-9 Depression Test</h1>
    <h4>Over the last two weeks, how often have you been bothered by any of the following problems?</h4>
    <br>
    <form (ngSubmit)="submitForm()">
        <div class="question-container" *ngFor="let question of questions; let i = index">
            <label class="question-label">{{ i + 1 }}. {{ question }}</label>
            <div class="options">
                <div *ngFor="let option of options">
                    <label 
                        class="option-label" 
                        [ngClass]="getOptionClass(i, option.score)"
                        (mouseenter)="hoverOption(i, option.score)"
                        (mouseleave)="hoverOption(i, null)"
                        (click)="selectOption(i, option.score)"
                    >
                        {{ option.label }}
                    </label>
                </div>
            </div>
        </div>
        <div *ngIf="!isFormComplete()" class="incomplete-message">
            Please answer all the questions before submitting the form.
        </div>
        <button type="submit" class="submit-button" [disabled]="!isFormComplete()">Submit</button>
    </form>
</div>

<!-- Depression Dialog Component -->
<app-depression-dialog *ngIf="showDialog"
                       [depressionLevel]="depressionLevel"
                       [depressionMessage]="depressionMessage"
                       (close)="closeDialog()">
</app-depression-dialog>
