<div class="container-item container-1 flex-fill">
  <div class="container-title">
    Calories Burned
  </div>
  <div class="container-content">
    <div class="fitness-container">
      <div class="calories-summary">
        <h2>Calories Burned</h2>
        <div>
          <p>Last 30 Days: {{ caloriesLast30Days }} kcal</p>
          <p>Last 7 Days: {{ caloriesLast7Days }} kcal</p>
          <p>Yesterday: {{ caloriesLastDay }} kcal</p>
          <p>Today: {{ caloriesToday }} kcal</p>
        </div>
      </div>

      <div class="actions">
        <button (click)="navigateToAddActivity()">Add Activity</button>
        <button (click)="showActivityHistory()">Show Activity History</button>
      </div>
    </div>
  </div>
</div>
