<div class="container-item container-1 flex-fill">
    <div class="container-title">
      Calories Burned
    </div>
    <div class="container-content">
      <div class="progress-container">
        <span class="progress-label">Steps Covered</span>
        <span class="progress-target">{{ targetSteps }} Steps</span>
      </div>
      <div class="progress">
        <!-- <div class="progress-bar"
             role="progressbar"
             [ngStyle]="{'width': progressBarWidth}"
             aria-valuenow="{{ stepsCovered }}"
             aria-valuemin="0"
             aria-valuemax="{{ targetSteps }}">
          {{ stepsCovered }} Steps
        </div> -->
      </div>
    </div>
  </div>
  