<div class="container">
  <div class="content">
    <h1>Mental Health</h1>
    <p class="subtitle">Stay Productive & Work Remotely</p>
    <p class="description">
      The key to work-from-home success is to create an environment that allows
      you to focus on the tasks at hand. Whether you are working from home for
      the first time.
    </p>
    <div class="buttons-container">
      <button class="test-button" (click)="navigateToPHQ9()">Take Depression Test</button>
      <button class="test-button" (click)="navigateToGAD7()">Take Anxiety Test</button>
    </div>
  </div>
  <div class="image-container">
    <img src="assets/meditating-woman.png" alt="Meditating Woman" />
  </div>
  <a class="articles-link" (click)="navigateToArticlesBlog()">Articles Blog</a>
</div>
