<div class="wrapper">
    <div class="container-fluid p-0">
        <div class="row g-0 vh-100">
            <div class="col-md-4 d-flex flex-column">
                <div class="card h-100">
                    <div class="card-body">
                        <app-fitness></app-fitness>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <div class="card h-100">
                    <div class="card-body">
                        <app-diet></app-diet>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <div class="card h-100">
                    <div class="card-body">
                        <app-mental-health></app-mental-health>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
