<div class="wrapper">
    <div class="container-fluid p-0">
        <div class="row no-gutters h-100">
            <div class="col-md-4 d-flex flex-column full-height-md">
                <app-fitness></app-fitness>
            </div>
            <div class="col-md-4 d-flex flex-column full-height-md">
                <app-diet></app-diet>
            </div>
            <div class="col-md-4 d-flex flex-column full-height-md">
                <app-mental-health></app-mental-health>
            </div>
        </div>
    </div>
</div>
